<link rel="stylesheet" href="/css/style.css">
<h2>Ajouter un article</h2>
<form action="/add" method="POST">
  Nom : <input name="name" /><br>
  Quantitée : <input type="number" name="quantity" /><br>
  <input id="bleu" type="submit" value="enregistrer" />
</form>

    <!-- Bouton pour aller vers la page de contenu -->
    <a href="/">
        <button>Aller vers le site</button>
    </a>
